.token {
    display: flex;
    align-items: center;
    padding-right: 24px;
}

.token__container {
    display: flex;
    justify-content: center;
}

.token__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #e2e2e2;
    width: 1000px;
    padding: 0 2rem;
}

.token__row:hover {
    background: #171718;
}

.token__img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.token__h1 {
    font-size: 16px;
    width: 150px;
}

.token__symbol {
    text-transform: uppercase;
}

.token__data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
}

.token__price {
    width: 110px;
}

.token__volume {
    width: 155px;
}

.token__marketcap {
    width: 230px;
}

.token__percent {
    width: 100px;
}

.red {
    color: #f00606;
}

.green {
    color: #13c783;
}
